.react-datepicker {
  width: 100%;
  font-size: 0.8rem;
  margin-top: 40px;
  border: none;
}

.react-datepicker__header {
  width: 100%;
  border-top-left-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 0.2rem;
}

.react-datepicker__navigation-icon::before {
  border-color: #000;
}

.react-datepicker__day-names {
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: -20px;
}

.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__time-name {
  margin: 0.3rem;
  width: 2rem;
  line-height: 2rem;
}

.react-datepicker__day,
.react-datepicker__day:hover,
.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
  border-radius: 1rem;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #8daef2;
}

.react-datepicker__day:hover,
.react-datepicker__day--selected:hover {
  background-color: #bbd3fe;
  color: #fff;
}

.timePicker {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookInfo {
  text-align: center;
}

.react-datepicker__navigation-icon--next {
  margin: 0 20px 0 auto;
}
