.listItem {
  border: 1px solid pink;
  background-color: lightblue;
}

.header {
  background-color: white;
  font-size: 1rem;
  line-height: 55px;
  text-align: center;
  height: 64px;

  margin: 0;
}
.header:last-child {
  border-right: none;
}

.list {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr 1.2fr;
  border-bottom: 2px solid #8daef2;
  column-gap: 3px;
}
